[submodule "modules/java7"]
	path = modules/java7
	url = http://github.com/softek/puppet-java7.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "modules/python"]
	path = modules/python
	url = http://github.com/stankevich/puppet-python.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = http://github.com/puppetlabs/puppetlabs-mysql
[submodule "modules/s3cmd"]
	path = modules/s3cmd
	url = http://github.com/capriza/capriza-s3cmd
[submodule "modules/concat"]
	path = modules/concat
	url = http://github.com/puppetlabs/puppetlabs-concat
[submodule "modules/firewall"]
	path = modules/firewall
	url = http://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "modules/sudoers"]
	path = modules/sudoers
	url = http://github.com/jfryman/puppet-sudoers.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = http://github.com/fiddyspence/puppet-sysctl
[submodule "modules/website/files"]
	path = modules/website/files
	url = http://github.com/nfreader/minecraft.nfreader.net
